html{
    font-size: 62,5%;
}
body{
    background-color: beige;
}
/*Index*/ 
.parrafoAzul{
    /* grid-area: titulo; */
    color: #6a040f;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    /*display: inline-block;*/
    text-align: center;
    }
.imagenLogo{
    /*display: inline-block;*/
    display: none;
}

.contenedor{
    display: grid;
}

header{
    position: sticky;
    top: 10px;
    z-index: 1000;
}

.centrar{
    text-align: center;
}

.menuPrincipal ul li{
    display: inline-block;
    padding: 20px 20px;
    text-align: center;
}

.listas{
    text-align: center;
    list-style-type: none;
    line-height: 2;
    background-size: cover;
    background-position: center center;
    /*display:inline-block*/
}


.principal__titulo{
    margin: 100px 50px 100px 50px;
    text-align: center;
    font-size: 70px;
    padding: 100px 50px 100px 50px;                               
    border-top: solid 12px #52796f;
    border-right: solid 20px #2f3e46;
    border-bottom: solid 12px #52796f;
    border-left: solid 20px #2f3e46;
}
.principal__titulo--fondoGris{
    background-color: #a3b18a;
}
.principal__subtitulo--verde{
    background-color:#9cbfb6 ;
    display: inline-block;
    margin: 20px 50px 20px 50px;
}

.principal__3--parrafo{
    margin: 20px 50px 20px 50px;
}

.precios__subtitulo--fondoVerde{
    background-color: #64dec0;
}

.redes{
    position: fixed;
    right: 0;
    bottom: 50%;
}

.redes img{
    width: 50px;
    display: block;
}

.logo img {
    width: auto;
    height: auto;
    /*display: block; margin: auto;*/
}


.precios__subtitulo--fondoVerde{
    background-color: #52796f;
    display: inline-block;

}

.actividades{
    border-top: solid 5px #52796f;
    border-right: solid 10px #2f3e46;
    border-bottom: solid 5px #52796f;
    border-left: solid 10px #2f3e46;

}


.redes img{
    width: 50px; 
    }

.whatsapp{
    position: fixed;
    bottom: 30px;
    right: 50px;
}


.whatsappImg{
    width: 50px;
}

.formulario{
    margin: 10px 50px 10px 50px;
    font-size: 20px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    background-color: #d90429;
    top: 50%;
    left: 50%;
    
}

.formulario1{
    margin: 10px 50px 10px 50px;
    font-size: 20px;
    padding: 5px 0px 5px 0px;
    text-align: inherit;
}

.textarea{
    display: block;
}

.formulario2{
    color: #6a040f;
    margin: 10px 50px 10px 50px;
    font-size: 20px;
    padding: 5px 0px 5px 0px;
    text-align: inherit;
    background-color: #8d99ae;
    }

.precios1{
    margin: 20px 50px 20px 50px;
    font-size: 20px;
    padding: 5px 0px 5px 0px;
}

.iframe{
    margin: 20px 50px 20px 50px;
}

/*nosotros*/

.h1{
    font-size:50px;
    padding: 5px 0px 5px 0px;
    color: #e76f51;
    text-align: center;
    background-color: #264653;
    margin: 10px 50px 10px 50px;
}

.h2{
    display: flex;
}

.h2 > div{
width: 50%;
padding: 10px;
}
/* .imagenn{
    width: 20%;
} */
@media(max-width: 768px){
    .menu > div{
        flex: 1 1 100%;
    }
    .h2{
        display: block;
    }
    
    .h2 > div{
    width: 90%;
    padding: 10px;
    }
}
/*Galeria*/
*{
    box-sizing: border-box;
}
img{
    width: 100%;
}

#cuadrado{
    animation-name: mianimacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes mianimacion{
    0% {background-color: #ffb703;}
    25% {background-color: #8d99ae;}
    50% {background-color: #d90429;}
    75% {background-color: #9cbfb6;}
    100% {background-color: #64dec0;}
}


.aparatos{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    background-color: #264653;
}

.division{
    padding: 25px 0px 25px 0px;
    font-size: 30px;
    margin: 10px 50px 10px 50px;
    text-align: center;
    background-color: #ffb703;
}


.linea{
    border-bottom:solid 1px grey;
    width:100%;
    height:50px;
}

.aparato{
flex: 25%;
padding: 5px;
}

.aparato img{
    margin-top: 5px;
}


.h11{
    padding: 8px 0px 8px 0px;
    font-size: 50px;
    color: #ffc300;
    background-color: black;
    text-align: center;
    margin: 10px 50px 10px 50px;
}

.subtitulo{
    padding: 25px 0px 25px 0px;
    font-size: 30px;
    margin: 10px 50px 10px 50px;
    text-align: center;
}

/*Servicios*/

.header1{
    color: #6a040f;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.header2 ul li{
    display: inline-block;
    padding: 20px 20px;
    text-align: center;
}


.h12{
    margin: 10px 50px 10px 50px;
    font-size: 50px;
    padding: 8px 0px 8px 0px;
    text-align: center;
    background-color: #ffb5a7;
}

.h21{
    /* grid-area: menu; */
    margin: 10px 50px 10px 50px;
    font-size: 30px;
    padding: 8px 0px 8px 0px;
    text-align: center;
}

.servicios1{
    padding: 25px 0px 25px 0px;
    font-size: 30px;
    margin: 10px 50px 10px 50px;
    text-align: center;
}


.servicios2{
    border: 4px solid black;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    margin: 15px;
}

.s1{
grid-area: cabecera;
    background-color: #64dec0;
}

.s2{
grid-area: menu;
    background-color: #d90429;
}

.s3{
    grid-area: contenido;
    background-color: #52796f;
}

.s4{
    grid-area: barra;
background-color: #ffb703;
}

.s5{
grid-area: footer;
    background-color: #ffb5a7;
}
.servicios{
    width: auto;
    margin: 15px;
    height: auto;
    display: grid;
    /* grid-template-columns: auto auto;*/
    grid-template-rows: 20% 10% auto 10%;
    /* background-color: lightgreen; */
    padding: 20px;
    margin: 0 auto;
    /* justify-content: stretch; */
    grid-template-areas:
                        "cabecera cabecera"
                        "menu menu"
                        "contenido barra"
                        "footer footer";
} 