/*GENERALES*/
html {
  font-size: 62,5%; }
  html body {
    background-color: beige; }

/* INDEX */
header {
  position: sticky;
  top: 10px;
  z-index: 1000; }

.imagenLogo {
  display: none; }

.parrafoAzul {
  background-image: linear-gradient(to right, #e9edc9, #ccd5ae);
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }
  .parrafoAzul .logo img {
    width: auto;
    height: auto; }
  .parrafoAzul .menuPrincipal ul li {
    display: inline-block;
    padding: 20px 20px;
    text-align: center; }
  .parrafoAzul .listas {
    text-align: center;
    list-style-type: none;
    line-height: 2%;
    background-size: cover;
    background-position: center center; }

@media screen and (max-width: 480px) {
  .listas li {
    width: 25%;
    display: inline-block; }
  body {
    background-color: aquamarine;
    font-family: sans-serif; }
  .h1 {
    display: block; }
  .principal__titulo {
    width: 100%;
    font-size: 50px; }
  .iframe {
    display: flex;
    padding: auto;
    margin: 0px; }
  .aparato {
    width: 100%; }
  .centrar {
    width: 100%;
    font-size: 200%;
    display: block;
    text-align: center; }
  .ajustes {
    display: inline-block;
    font-size: 50%; }
  img {
    width: 100%; }
  .imagenn {
    width: 100%;
    height: 100%;
    display: block; }
  .h11 {
    width: 100%;
    height: 100%;
    display: inline-flex; }
  .h11 {
    display: block;
    width: auto;
    margin: 20px, 20px; }
  .subtitulo {
    display: inline;
    width: 100%; }
  .division {
    text-align: center;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .menu > div {
    flex: 100%; }
  .h11 {
    text-align: center;
    width: auto;
    margin: 20px, 20px; }
  .h2 {
    display: block; }
  img {
    width: 100%;
    flex: auto; }
  .h2 > div {
    width: 100%;
    padding: 10px; }
  html {
    font-size: 62,5%; }
    html body {
      background-color: #cdb4db; }
  .division {
    width: 100%; }
  .subtitulo {
    width: 100%;
    text-align: center; }
  .imagenn {
    width: 50%; } }

.h1 {
  margin: 10px 50px 10px 50px;
  font-size: 50px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  background-color: #d90429;
  top: 50%;
  left: 50%; }

.h2 {
  display: flex; }
  .h2 div {
    width: 50%;
    padding: 10px; }

.centrar {
  font-size: 40px; }

.centrar1 {
  font-size: 25px; }

.h12 {
  margin: 10px 50px 10px 50px;
  font-size: 50px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  background-color: #d90429;
  top: 50%;
  left: 50%; }

.h21 {
  font-size: 50px;
  text-align: center; }

.servicios2 {
  border: 4px solid black;
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  margin: 15px; }

.s1 {
  grid-area: cabecera;
  background-color: beige;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 25px; }

.s2 {
  grid-area: menu;
  background-color: #d90429; }

.s3 {
  grid-area: contenido;
  background-color: #52796f; }

.s4 {
  grid-area: barra;
  background-color: #ffb703; }

.s5 {
  background-color: beige;
  border: 0px;
  grid-area: footer; }

.servicios {
  width: auto;
  margin: 15px;
  height: auto;
  display: grid;
  grid-template-rows: 20% 10% auto 10%;
  padding: 20px;
  margin: 0 auto;
  grid-template-areas: "cabecera cabecera" "menu menu" "contenido barra" "footer footer"; }

.formulario {
  margin: 10px 50px 10px 50px;
  font-size: 25px;
  /* padding: 5px 0px 5px 0px; */
  text-align: center;
  background-color: #d90429;
  top: 50%;
  left: 50%; }

.formulario2 {
  color: #6a040f;
  margin: 10px 50px 10px 50px;
  font-size: 25px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  display: block; }

* {
  box-sizing: border-box; }

form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc; }

form label {
  width: 72px;
  font-weight: bold;
  display: inline-block; }

form input[type="text"],
form input[type="email"] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block; }

form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000; }

form input[type="submit"]:hover {
  cursor: pointer; }

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  resize: none;
  display: block; }

.aceptar {
  display: block; }

* {
  box-sizing: border-box; }

.h11 {
  margin: 10px 50px 10px 50px;
  font-size: 50px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  background-color: #d90429;
  top: 50%;
  left: 50%; }

.section .subtitulo {
  padding: 25px 0px 25px 0px;
  font-size: 30px;
  margin: 10px 50px 10px 50px;
  text-align: center; }

.section .linea {
  border-bottom: solid 1px grey;
  width: 100%;
  height: 50px; }

.section .division {
  padding: 25px 0px 25px 0px;
  font-size: 30px;
  margin: 10px 50px 10px 50px;
  text-align: center;
  background-color: #ffb703; }

.section .aparatos {
  display: flex;
  padding: 5px;
  flex-wrap: wrap; }

.section .aparato {
  flex: 25%;
  padding: 5px;
  width: 50px; }

.section .aparato img {
  margin-top: 10px;
  font-size: 5px; }

#cuadrado {
  animation-name: mianimacion;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

@keyframes mianimacion {
  0% {
    background-color: #ffb703; }
  25% {
    background-color: #8d99ae; }
  50% {
    background-color: #d90429; }
  75% {
    background-color: #9cbfb6; }
  100% {
    background-color: #64dec0; } }

.contenedor {
  display: grid; }

.centrar {
  text-align: center; }

body {
  overflow-x: hidden; }

.principal .principal__titulo {
  margin: 10px 50px 50px 50px;
  text-align: center;
  font-size: 70px;
  padding: 50px 50px 50px 50px; }

.principal .principal__titulo--fondoGris {
  margin: 10px 50px 10px 50px;
  font-size: 50px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  background-color: #d90429;
  top: 50%;
  left: 50%; }

.principal .principal__subtitulo--verde {
  background-color: #9cbfb6;
  display: inline-block;
  margin: 20px 50px 20px 50px; }

.principal .principal__3--parrafo {
  margin: 20px 50px 20px 50px; }

.principal .texto {
  margin: 20px 50px 20px 50px; }

.precios .precios1 {
  margin: 20px 50px 20px 50px;
  font-size: 20px;
  padding: 5px 0px 5px 0px; }

.precios .precios__subtitulo--fondoVerde {
  background-color: #52796f;
  display: inline-block;
  background-color: #64dec0; }

.precios .actividades {
  border-top: solid 5px #52796f;
  border-right: solid 10px #2f3e46;
  border-bottom: solid 5px #52796f;
  border-left: solid 10px #2f3e46; }

.iframe {
  margin: 20px 50px 20px 50px; }

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 50px; }
  .whatsapp .whatsappImg {
    width: 50px; }

.redes {
  position: fixed;
  right: 0;
  bottom: 50%; }

.redes img {
  width: 50px;
  display: block; }
