    //NOSOTROS
.h1{
    font-size:50px;
    padding: 5px 0px 5px 0px;
    color: #e76f51;
    text-align: center;
    background-color: #264653;
    margin: 10px 50px 10px 50px;
}

.h2{
    display: flex;
}

.h2 > div{
width: 50%;
padding: 10px;
}

